<div class="row">
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="layers"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Total Projects
                </span>
                
               
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="pie-chart"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Active Projects
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="clock"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Hours Spent
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="user"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Members
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="alert-circle"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Due Tasks
                </span>
               
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Productivity
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Productivity
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Productivity
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Productivity
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Productivity
                </span>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>