<div class="row">
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
      <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="layers"></i-feather>
                </div>
                <span class="d-block text-gray">
                    No Sale
                </span>
            </mat-card-content>
        </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
      <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="pie-chart"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Store Status
                </span>

            </mat-card-content>
        </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="clock"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Card Batch Close
                </span>

            </mat-card-content>
        </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="user"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Open Tickets
                </span>

            </mat-card-content>
        </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="alert-circle"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Authorize
                </span>

            </mat-card-content>
        </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
      <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Clocked in users
                </span>

            </mat-card-content>
        </mat-card>
        </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Tips Management
                </span>

            </mat-card-content>
        </mat-card>
      </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button (click)="showDeclareTips()">

          <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
              <mat-card-content>
                  <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                      <i-feather name="bar-chart-2"></i-feather>
                  </div>
                  <span class="d-block text-gray">
                      Declare Tips
                  </span>
              </mat-card-content>
          </mat-card>
      </button>
  </div>

    <div class="col-xxxl-2 col-sm-6 col-md-4">
        <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Assign Cash Drawer
                </span>

            </mat-card-content>
        </mat-card>
      </button>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-4">
      <button>
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="bar-chart-2"></i-feather>
                </div>
                <span class="d-block text-gray">
                    Server Summary
                </span>

            </mat-card-content>
        </mat-card>
      </button>
    </div>

    <div class="icon">
      <button class="exit-button">
          Exit
      </button>
  </div>






